.profile-container {
  padding: 2rem;
  height: 500px;
  text-align: center;
  padding-bottom: 100px;
  max-width: 1100px;
  margin: auto;
  background-color: #5b575746;
  border-radius: 20px;
  font-size: larger;
}

/* Heading */
.profile-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Form styling */
.profile-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-form label {
  text-align: left;
  font-size: 25px;
  margin-bottom: 8px;
  color: #ffffff;
}
/* Inputs */
.profile-form input {
  padding: 12px 22px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  justify-items: flex-start;
  transition: border 0.3s ease;
  background-color: transparent;/* dark background for inputs */
  color: #000000; /* white text */
}

.profile-form select {
  padding: 12px 22px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  justify-items: flex-start;
  transition: border 0.3s ease;
  background-color: transparent;/* dark background for inputs */
  color: #000000; /* white text */
}

.profile-form textarea {
  padding: 12px 22px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  justify-items: flex-start;
  transition: border 0.3s ease;
  background-color: transparent;/* dark background for inputs */
  color: #000000; /* white text */
}

.profile-form input:focus {
  border-color: #007bff;
}

/* Buttons */
.profile-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-form button:hover {
  background-color: #0056b3;
}

/* User ID */
.profile-form p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .profile-container {
    margin: 60px 15px;
    padding: 25px;
  }

  .profile-form input,
  .profile-form button {
    font-size: 14px;
    padding: 10px;
  }
}